doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="image", property="og:image", content="https://live.staticflickr.com/65535/51241709954_09bf76ef8f_o.png")
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous")
    script(src="/javascripts/index.js" type="module" defer)
    title Queueflood
  body
    div(id='main-div')
      div(id="title-div")
        img(src="/img/logo.png", alt="" id='logo')
        h1= title
      div(id='welc-text') Welcome to the greatest coding resource!
      div(id='welc-text-child') A place to ask and answer coding related questions.
      div(id='signlog')
        a(href="/users/register" id='signup') Sign Up
        a(href="/users/login" id='login') Login
        a(href="/users/demo" id='demo') Demo
      a(href="/questions" id='questions') Questions
      div(id='about')
      .info
        .info__links--contributer
          p Dylan Brooks
          .info__links
            a(href="https://github.com/dylanbrooks" target="_blank"): i(class="fab fa-github")
            a(href="https://www.linkedin.com/in/dylan-brooks-662439212/s" target="_blank"): i(class="fab fa-linkedin")
        .info__links--contributer
          p Lucian Jones
          .info__links
            a(href="https://github.com/lucianjones" target="_blank"): i(class="fab fa-github")
            a(href="https://www.linkedin.com/in/lucian-jones-75437720b/" target="_blank"): i(class="fab fa-linkedin")
        .info__links--contributer
          p Heriberto Montoya
          .info__links
            a(href="https://github.com/montoya1256" target="_blank"): i(class="fab fa-github")
            a(href="https://www.linkedin.com/in/heriberto-montoya-8578731b6/" target="_blank"): i(class="fab fa-linkedin")
        .info__links--contributer
          p Danny Zhou
          .info__links
            a(href="https://github.com/DZhou005?tab=repositories" target="_blank"): i(class="fab fa-github")
            a(href="https://www.linkedin.com/in/danny-zhou-718006147/" target="_blank"): i(class="fab fa-linkedin")
