extends layout
block content

  form(action=`/questions/${question.id}/edit`, method="post")
    input(type="hidden", name='_csrf', value=csrfToken)
    label(for="title") Title
    input(type="text", name='title')
    label(for="description") Description
    textarea(name='description')
    if error
      button(type="submit") Review your question
    else
      button(type="submit") Update your question
    a(href=`/questions/${question.id}`) Cancel
