extends layout
append head
  link(rel="stylesheet" href="/stylesheets/question-page.css")
block content
  div.container
    div.center__container
      h1.header(scope='col') All Questions
      div.questionButton
        if(authenticated)
          a.question-btn(href="/questions/ask" role='button') Ask Question
        else
          a.question-btn(href="/users/login") login to ask questions
    each question in questions
      div.question-div
        a.question(href=`/questions/${question.id}`)=question.title
        p.description=question.description
    div
      button.showMore(type="submit") show more
