extends layout
append head
  link(rel="stylesheet" href="/stylesheets/user-login.css")
block content
  div(id="outer-div")
    div(id='login-main-div')
      form(action="/users/login", method="post" id='user-login__form')
          input(type="hidden", name='_csrf', value=csrfToken)
          if emailErrr
            label(for="email" class='login-labels') Email
            input(type="email", name='email' class='login-inputs-err')
            p.errormsg=emailErrr
          else
            label(for="email" class='login-labels') Email
            input(type="email", name='email' class='login-inputs')
          if passwordErrr
            label(for="password" class='login-labels') Password
            input(type="password", name='password' class='login-inputs-err')
            p.errormsg=passwordErrr
          else
            label(for="password" class='login-labels') Password
            input(type="password", name='password' class='login-inputs')
          button(type="submit" id='login-button') Submit
      div(id="signup") Don't have an account?
          a(href="/users/register")  Sign up
