body {
    background-color: #eff0f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr 1fr 1fr .7fr 3fr ;
    height: 100%;
    top: 100px;
    position: relative;
}
h1 {
    font-size: 60px;
}
#title-div {
    grid-row-start: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    height: 200px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
    margin-bottom: 40px;
}

#welc-text {
    width: 100%;
    grid-row-start: 2;
    justify-self: center;
    text-align: center;
    font-size: 25px;
}

#welc-text-child {
    width: 100%;
    grid-row-start: 3;
    justify-self: center;
    text-align: center;
    margin-bottom: 20px;
}

#signlog {
    grid-row-start: 4;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    text-align: center;
    align-items: center;

}

#questions {
    grid-row-start: 5;
    justify-self: center;
    text-align: center;
    background-color: #e1ecf4;
    color: #39739d;
    border: 1px solid #7aa7c7;
    padding: .8em;
    font-size: 13px;
    padding-top: 12px;
    text-decoration: none;
    border-radius: 3px;
}

#about {
    justify-self: center;
    grid-row-start: 6;
    text-align: center;
}

#signup{
    margin-right: 20px;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0095ff;
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
}

#login {
    margin-left: 20 px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0095ff;
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
}

#demo {
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0095ff;
    color: #fff;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
}

#signup:hover, #login:hover {
    background-color: #0064bd;
}

#questions:hover {
    background-color: #b3d3ea;
}

#demo:hover {
    background-color: #0064bd;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin: auto;
    width: 700px;
}

.info__links--contributer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__links--contributer a {
    font-size: 20px;
    margin: 0 10px 15px 10px;
}

.info__links--contributer p {
    font-size: 14px;
}
