.navbar{
  background-color: #fafafb;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  position: sticky ;
  top: 0px;
   z-index: 1;
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 6px solid #0095ff;
}
.navbar a {
  float:left;
  color: black;
  padding: 14px 16px;
  background-color: #fafafb;
  text-decoration: none;
  border-radius: 1000px;
}
.navbar--right a.signup:hover {
  background-color: #0064bd;
}
.navbar--right a.login:hover {
  background-color: #b3d3ea;
}

.navbar--right .login{
  margin-right: 10px;
  background-color: #e1ecf4;
  color: #39739d;
  border: 1px solid #7aa7c7;
  padding: .8em;
  font-size: 13px;
  margin-top: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.navbar--right .signup{
  background-color: #0095ff;
  color: #ffffff;
  border: 1px solid #d6d9dc;
  font-size: 13px;
  padding: .8em;
  margin-top: 20px;
  margin-left: 4px;
  border-radius: 3px;
}

.navbar--right{
  float:right;
  background-color: #fafafb;
}

.profilePic {
  padding: .8em;
  margin-top: 8px;
  margin-left: 4px;
}

#search-input{
  position: absolute;
  right: 20%;
  width:60%;
  height:39px;
  padding: 6px;
  margin-top: 19px;
  font-size: 100%;
  margin-left: 20%;
}

#search-btn {
  position: absolute;
  left: 80%;
  top: 19px;
  height: 39px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin: auto;
    display: block;
  }
  a.logo{
    display: none;
  }
  #search-input{
    position: absolute;
    left: 2%;
    width: 40%;
    height:39px;
    padding: 6px;
    margin-top: 25px;
    font-size: 100%;
  }
  #search-btn {
    position: absolute;
    left: 62%;
    top: 25px;
    height: 39px;
  }

  .mainLogo {
    display: none;
  }
}

.mainLogo {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  height: 50px;
  width: 200px;
}

.defaultPhoto {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-right: 8px;
}

#logout {
  position: absolute;
  margin-right: 10px;
  background-color: #e1ecf4;
  color: #39739d;
  border: 1px solid #7aa7c7;
  padding: .8em;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 3px;
  right: 60px;
  top: 10px;
}