
.question-btn {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: .8em;
  text-decoration: none;
  background-color: #0095ff;
  color: #fff;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
}

.question-btn:hover {
  background-color: #0064bd;
}

.question-div {
  display: flex;
  float:none;
  padding:12px 20px;
  border:1px solid #eff0f1;
  height: 150px;
}

a.question {
  color: #0077cc;
  /* check font size and font weight */
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display:inline-block;
  position:absolute;
}

.header {
display:flex;
justify-content: center;

}
.questionButton {
  display:flex;
  justify-content: flex-end;
}

.description {
  font-size: 13px;
  max-width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
  padding-top: 20px;
}

/* style Ask Question button */

/* style question div  */
/* .container {
  height: 1000px;
  overflow: hidden;
  border: 1px solid red;

} */
