body {
    background-color: #eff0f1;
}

#outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-main-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    top: 150px;
    left: 10%;
}

#user-register__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 260px;
    height: 400px;
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 30px;
    box-shadow: 0px 0px 60px 32px rgba(0,0,0, .05) ;
    margin-left: 30px;

}

.register-labels {
    padding-bottom: 2px;
    padding-top: 12px;
}


#register-button {
    margin-top: 20px;
    background-color: #52b7f2;
    border-radius: 4px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border: solid 2px #52b7f2;
    color: white;
}

#register-list {
    position: relative;
    margin-right: 30px;
    font-size: 35px;
    list-style-type: none;

}

.register-list__item {
    font-size: 12px;
    padding-top: 12px;
}

#register-errors {
    position: relative;
    left: 10%;
    list-style-type: none;
    top: 100px;

}
.errors-li {
    font-size: 12px;
    color: red;
    text-align: center;
    padding: 2px;
}

#login {
    padding: 10px;
    font-size: 12px;
    position: relative;
    right: 25%;
    top: 215px;
}

#login > a {
    font-size: 12px;
    text-decoration: none;
    color:#52b7f2;
}

.errormsg {
    color: red;
    font-size: 10px;
}

.register-inputs-err{
    border: 1px solid red;
}
